<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="books.sccs" >
    <title>Submit2</title>
  </head>
  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>    
          <th>Body</th>
          <td colspan="3"></td>
        </tr>  
      </thead>    
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td class="book-title"> <%= book.title %></td>
          <td class="book-body"> <%= book.body %></td>
          <td>
            <%= link_to "Show", book_path(book.id) %>
          </td>
            <a data-confirm="Are you sure?" class="destroy_?" rel="nofollow" data-method="delete" href="/book/?">Destroy</a>
          </td>
        </tr> 
      <% end %>
    </tbody>
    </table>
    
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>

      <div class="field">
        <h4>title</h4>
        <%= f.text_field :title %>
      </div>
 
      <div class="field">
        <h4>Body</h4>
        <%= f.text_area :body %>
      </div>
       
      <div class="action">
        <%= f.submit 'Create Book' %>
      </div>
  
    <% end %>
  </body>  
</html>
