<h2>Title</h2>
  <span>
  <%= link_to @book.title %>
  </span>

<h2>Body</h2>
<span>
  <%= link_to @book.body %>
</span>

<%=link_to book.edit,book_path(book.id/edit)  "Edit"%> 
"|"
<%=link_to book.index,book_path "Back"  %>

<%= link_to "Edit",edit_book_path(@edit) %>
<%= link_to "Destroy",book_path(@book), method: :delete %>


